@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato Bold";
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: "Lato Light";
    src: url(../fonts/Lato/Lato-Light.ttf);
}

/*  */

body{
    font-family: "Lato Regular";
    color: #122D3E;
}

h1{
    font-family: "Lato Bold";
    font-size: 30px;
}

p {
    margin: 0 0 20px;
}

strong{
    font-family: "Lato Bold";
   }

/* HEADER */
.main-nav {
    background-color: #122D3E;
}

#header-homepage .nav-link {
    color: white;
    padding:0px 20px;
    margin: 0;
    letter-spacing: 2px;
}

#header-homepage .nav-link:hover{
    color: #edd154;
}

#header-homepage .nav-item:not(:last-child){
    border-right: 1px solid white; 
}

/* CAROUSEL */



/* TEXT SECTION */

.description-text{
    padding: 2% 0% ;
}

.description-text p{
    font-size: 20px;
}

.description-text p:last-of-type{
    font-size: 16px;
}

/* DESCRIPTION */


.devis h3, .renov h3, .conseil h3{
    font-size: 1rem;
    font-family: "Lato Bold";
    margin: 20px 0;
}

.devis , .renov p, .conseil p{
    font-family: "Lato Light";
    line-height: 29px;
}

.btn{
    padding: 15px 40px;
    border-radius: 5px;
    background-color: #122D3E;
    border: none;
    font-size: 1rem;
    font-family: "Lato Bold";
    margin-left: 24px;
}


.btn:hover{
    background-color: #2E4755;
}

/* RÉALISATIONS */

#realisations h2{
    margin-top: 70px;
    font-family: "Lato Bold";
    font-size: 30px;
}

#realisations p{
    font-size: 20px;
    margin: 0 0 20px;
}

#realisations img{
    width: 365px;
    height: 300px;
}

@media screen and (max-width: 992px) {
    #realisations img{
        width: 100%;
    }
    
}

#realisations h4{
    font-family: "Lato Bold";
    font-size: 15px;
    margin: 10px 0;
}

#realisations h5{
    font-family: "Lato Bold";
    font-size: 13px;
    margin-bottom: 25px;
}

/* PROJETS */

#projets h2{
    margin-top: 70px;
    font-family: "Lato Bold";
    font-size: 30px;
}

#projets h4{
    font-family: "Lato Bold";
    font-size: 15px;
    margin: 15px 0;
}

#projets p{
    margin: 0 0 5px;
}


#projets p:nth-child(2){
    margin-bottom: 30px;
    font-size: 20px;
}

#projets a{
    color: #122D3E;
    text-decoration: none;
}

#projets a:hover{
    color: #edd154;
}

/* FOOTER */

.main-footer{
    background-color: #122D3E;
    color:white;
    padding: 20px 0 ;
    margin-top: 60px;
}


.footer-contact{
    border-left: 1px solid white;
    padding-left: 10px;
}

.main-footer p {
    margin: 0 0 20px;
}

.main-footer p:nth-child(1){
    font-family: "Lato Light";
    font-size: 20px;
}

.main-footer a{
    color: white;
    text-decoration: none;
}

.main-footer a:hover{
    color: #edd154;
}

